  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div
          id="user-data"
          ngModelGroup="userData"
          #userData="ngModelGroup">
          <div class="form-group">
            <label for="userName">Username</label>
            <input
              type="text"
              id="userName"
              class="form-control"
              ngModel
              name="userName"
              required>
          </div>
          <button
            class="btn btn-default"
            type="button"
            (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
              #email="ngModel">
            <p *ngIf="!email.valid && email.touched"> Please enter a valid email</p>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">Please enter with valid data</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select
            id="secret"
            class="form-control"
            [ngModel]="defaultQuestion"
            name="secret">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
          <div class="form-group">
            <textarea
              name="questionsAnswer"
              rows="1"
              [(ngModel)]="answer"
            >
            </textarea>
          </div>
          <p>{{answer}}</p>
          <div class="radio" *ngFor="let gender of genders">
            <input
              type="radio"
              name="gender"
              ngModel
              required
              [value]="gender">
            {{gender}}
          </div>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">Submit</button>
      </form>
      <hr>
      <div class="row" *ngIf="send">
        <h3> Your form </h3>
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
        <p>{{user.secret}}</p>
        <p>{{user.answer}}</p>
        <p>{{user.gender}}</p>
      </div>
    </div>
  </div>
</div>
