<div class="row">
  <div class="col-xs-10">
    <!-- (newIngredient)="addIngredients($event)" -->
    <app-shopping-edit    
      (removeIngredient)="deleteIngredient()"
      (clear)="clearIngredients()">
    </app-shopping-edit>
    <hr>
    <ul>
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click)="onEditting(i)"
        >
        {{ingredient.name}} ({{ingredient.amount}})
      </a>
      <p class="noIngredient" *ngIf=" empytList ">
        No ingredient added
      </p>
    </ul>
  </div>
</div>

